.banner {
    margin: 20px 50px 20px 50px;
    padding: 50px 100px 50px 100px;
    border-radius: 16px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('./resources/BannerImage.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-size: 100% 100%;

}

.header-text {
    text-align: center;
}

.header-text h4 {
    margin-bottom: 5px;
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.header-text h1 {
    margin-top: 0;
    color: #FFF;
    text-align: center;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 95px;
    /* 131.944% */
}

.discount-text {
    text-align: center;
    margin-top: 120px;
    margin-bottom: 50px;
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.deal-text {
    margin-top: 0;
    margin-bottom: 16px;
    text-align: center;
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.catagories-text {
    margin-top: 0;
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.new-year-photo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.victory {
    margin: 80px 50px 20px 50px;
    padding: 0 100px 0 100px;
    border-radius: 16px;
    display: flex;
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),
        url('/resources/Vectorrr.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.welcome {
    margin-bottom: 15px;
    padding-top: 60px;
    color: #FFF;
    font-family: Merriweather;
    font-size: 57px;
    font-style: normal;
    font-weight: 900;
    line-height: 66px;
    /* 137.5% */
    letter-spacing: 7.04px;
}

.victory p {
    margin-top: 0;
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
}



.victory-text .join {
    padding-left: 20px;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.year-image img {
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    width: 200px;
    height: 300.662px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.event {
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    ;
    margin: 160px 50px 20px 50px;
    padding: 100px 200px 100px 200px;
}

.event h4 {
    text-align: center;
}

.event-text {
    color: #070211;
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
    text-transform: capitalize;
}

.red-text {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
    /* 175% */
    text-transform: capitalize;
}

.btn-primary {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    display: inline-flex;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 0;
    border-radius: 8px;
    background: #F00;
    cursor: pointer;
}


.three-item {
    display: flex;
    margin-top: 160px;
    justify-content: space-between;
}

.offer {
    /* margin-left: 50px; */
    padding-top: 50px;
}

.offer h5 {
    margin-left: 50px;
    margin-bottom: 0;
    color: #F00;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.offer h2 {
    margin-top: 5px;
    margin-left: 50px;
    margin-bottom: 0;
    color: #070211;
    font-family: Merriweather;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}

.offer p {
    margin-top: 0;
    margin-left: 50px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    /* 160% */
}

.Ellipse img {
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 463px;
    border: 15px solid #F00;
    padding: 20px;
}

.new-chapter {
    margin-right: 50px;
    margin-left: 10px;
    margin-top: 50px;
}

.new-chapter h2 {
    margin-bottom: 0;
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.new-chapter p {
    margin-top: 0;
    margin-bottom: 15px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    /* 160% */
}