.banner {
    margin: 20px 50px 20px 50px;
    padding: 50px 100px 50px 100px;
    border-radius: 16px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('./resources/BannerImage.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-size: 100% 100%;

}

.header-text {
    text-align: center;
}

.header-text h4 {
    margin-bottom: 5px;
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.header-text h1 {
    margin-top: 0;
    color: #FFF;
    text-align: center;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 95px;
    /* 131.944% */
}

.discount-text {
    text-align: center;
    margin-top: 120px;
    margin-bottom: 50px;
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.deal-text {
    margin-top: 0;
    margin-bottom: 16px;
    text-align: center;
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.catagories-text {
    margin-top: 0;
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.new-year-photo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.victory {
    margin: 20px 50px 20px 50px;
    padding: 0 100px 0 100px;
    border-radius: 16px;
    display: flex;
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),
        url('/resources/Vectorrr.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.welcome {
    margin-bottom: 15px;
    padding-top: 60px;
    color: #FFF;
    font-family: Merriweather;
    font-size: 57px;
    font-style: normal;
    font-weight: 900;
    line-height: 66px;
    /* 137.5% */
    letter-spacing: 7.04px;
}

.victory p {
    margin-top: 0;
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
}



.victory-text .join {
    padding-left: 20px;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.year-image img {
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    width: 200px;
    height: 300.662px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}