.banner {
    margin: 20px 50px 20px 50px;
    padding: 50px 100px 50px 100px;
    border-radius: 16px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('./resources/BannerImage.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;

}

.header-text {
    text-align: center;
}

.header-text h4 {
    margin-bottom: 5px;
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.header-text h1 {
    margin-top: 0;
    color: #FFF;
    text-align: center;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 95px;
    /* 131.944% */
}

.discount-text {
    text-align: center;
    margin-top: 120px;
    margin-bottom: 50px;
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.deal-text {
    margin-top: 0;
    margin-bottom: 16px;
    text-align: center;
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.catagories-text {
    margin-top: 0;
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}